<div class="header-container">
    <div class="header-main">
        <div><span class="logo-span">BLAZOR PIZZA</span></div>
        <div class="nav-main">
            <BtnCardapio />
            <LocationComponent />
        </div>
        <NavLoginComponent />
    </div>
    <div class="header-secundary">
        <TypeDeliveryComponent />
        <DisplayOrderComponent />
    </div>
</div>

@code {

}
