<div class="container-location">
    <div><img src="images/location.png" /></div>
    <div class="">
        <p>@Address</p>
    </div>
</div>

@code {
    private string Address { get; set; } = "Rua 11 de agosto, 3456 São Paulo-SP 34967-000";

}
