a {
    text-decoration: none;
    color: #fff;
    font-size: 10pt;
}

.nav-login {
}

    .nav-login img {
        height: 19px;
    }

@media (max-width: 641px) {
    .nav-login{
        display:none;
    }
}
