<div class="nav-login">
    <a href="#!">
        <img src="images/register.png" />
        Registre-se
    </a>
    <a href="#!">
        <img src="images/icoperfil.png" />
        Login
    </a>
</div>

@code {

}
