<div class="card" style="background-image:url(@pathurlimg); @marginLeft;">
    <div>
        <p>@product!.Item</p>
    </div>
    <div class="footer-button">
        <button class="button-description">Detalhes</button>
    </div>
</div>


