a[b-k4765ysctj] {
    text-decoration: none;
    color: #fff;
    font-size: 10pt;
}

.nav-login[b-k4765ysctj] {
}

    .nav-login img[b-k4765ysctj] {
        height: 19px;
    }

@media (max-width: 641px) {
    .nav-login[b-k4765ysctj]{
        display:none;
    }
}
