.btn-cardapio[b-jsat9easjw]{
    display:flex;
    padding:5px;
}

a[b-jsat9easjw] {
    text-decoration: none;
    color: #fff;
    font-size: 10pt;
}

img[b-jsat9easjw] {
    margin:2px;
    height: 25px;
}

p[b-jsat9easjw]{
    margin:2px;
}

@media (max-width: 641px) {
    .btn-cardapio[b-jsat9easjw]{
        display:flex;
        flex-direction:column;
        align-items:center;
        position:absolute;
        bottom: 3px;
        left: 55px;
        z-index: 100;
    }
}
