.container-location[b-y52qjkkfqx] {
    display: flex;
    width: 150px;
}

img[b-y52qjkkfqx] {
    height: 25px;
}

p[b-y52qjkkfqx] {
    font-size: 8pt;
}

@media(max-width:641px){
   p[b-y52qjkkfqx] {
       font-size: 8pt;
   }
}
