/* _content/RclShared/Component1.razor.rz.scp.css */
.my-component[b-3ts3e06oy1] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
/* _content/RclShared/Shared/BtnCardapio.razor.rz.scp.css */
.btn-cardapio[b-jsat9easjw]{
    display:flex;
}

a[b-jsat9easjw] {
    text-decoration: none;
    color: #fff;
    font-size: 10pt;
}

.nav-main img[b-jsat9easjw] {
    height: 25px;
}

@media (max-width: 641px) {
    .btn-cardapio[b-jsat9easjw]{
        display:flex;
        flex-direction:column;
        align-items:center;
        position:absolute;
        bottom:15px;
        left:15px;
        z-index: 100;
    }
}
/* _content/RclShared/Shared/HeaderComponent.razor.rz.scp.css */
a[b-jyeim1xetr]{
    text-decoration:none;
    color: #fff;
    font-size: 10pt;
}

.header-container[b-jyeim1xetr] {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 150px;
}

.header-main[b-jyeim1xetr] {
    background-color: #232222;
    width: 100%;
    min-height: 70px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-span[b-jyeim1xetr] {
    color: #D5B403;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.header-secundary[b-jyeim1xetr] {
    background-color: #232222;
    width: 100%;
    min-height: 34px;
    color: white;
    border-top: 1px solid #000000;
}

.nav-main[b-jyeim1xetr] {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

.nav-login[b-jyeim1xetr] {
    
}

.nav-login img[b-jyeim1xetr]{
    height: 19px;
}

@media (max-width: 641px) {
    .header-main[b-jyeim1xetr] {
        background-color: transparent;
    }

    .header-secundary[b-jyeim1xetr]{
        position:absolute;
        bottom:0;
        height:70px;
        z-index:90;
    }
}
/* _content/RclShared/Shared/HomeComponent.razor.rz.scp.css */
h3[b-smpr2ajrvm]{
    color:white;
}

p[b-smpr2ajrvm]{
    color:white;
}
/* _content/RclShared/Shared/LocationComponent.razor.rz.scp.css */
.container-location[b-y52qjkkfqx] {
    display: flex;
    width: 150px;
}

    .container-location img[b-y52qjkkfqx] {
        height: 25px;
    }

    .container-location p[b-y52qjkkfqx] {
        font-size: 10px;
    }
