<div class="container-display-order">
    <div class="div-amount">
        <span>R$ @Amount</span>
        <span>@Itens Itens</span>
    </div>
    <div class="div-amount">
        <img src="images/icoentrega.png" />
    </div>
</div>

