<div class="slide-children background-solid" style="@marginLeft; width:@(width)%">
    <div class="prod-container">
        <div class="slide-img">
            <img src="@(pathurlimg)" />
        </div>
        <div class="slide-descr">
            <div class="slide-description-top">
                <div>
                    <p>@product!.Item</p>
                </div>
                <div class="div-value-prod">
                    <p class="font-valor">R$ @utilsSizeServices.ValueRefSize</p>
                </div>
            </div>
            <div class="slide-description-middle">
                <p>@product!.Description</p>
            </div>
            <div class="slide-description-botton">
                <div class="div-sizes">
                    @if (sizes == null)
                    {
                        <p>Aguarde...!</p>
                    }
                    else
                    {
                        <SizesComponent Sizes="@sizes" />
                    }
                </div>
                <div class="div-btn-pedir">
                    <button class="btn-pedir">Pedir</button>
                </div>
                
            </div>
        </div>
        

    </div>
</div>
